<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Bruno Pelaquin. All rights reserved.
 * https://github.com/https-pelaquin
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog">
                    <resource id="Pelaquin_EnhancedInstallments::config" translate="title" title="BP - Enhanced Installments" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
