<?xml version="1.0" ?>
<!--
/**
 * Copyright (c) Bruno Pelaquin. All rights reserved.
 * https://github.com/https-pelaquin
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bp_installment_billet_price>
            <general>
                <active>1</active>
                <bp_bank_slip_discount>5</bp_bank_slip_discount>
                <bp_pix_discount>5</bp_pix_discount>
                <bp_installment_number>10</bp_installment_number>
                <bp_installment_minimal_amount>0</bp_installment_minimal_amount>
            </general>
        </bp_installment_billet_price>
    </default>
</config>
